.app {
    background-color: #e7e7e7;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color:#000;
}
.title {
    background-color:#2e2e2e;
}
.title h4{

    color:#fff !important;
}

.card-bl:hover{
    box-shadow: 0px 4px 36px 0px rgba(34, 60, 80, 0.2);
}